In [90]:
import pandas as pd
pd.options.display.max_columns = 40

#### Load data from CSV

In [91]:
df = pd.read_csv("/Users/mattrende/Documents/Coding/hockey-reference/YouTube Project/csv/in/njd_2020.csv")

team_abv = 'NJD'
season = '2020'
reg_or_playoffs = 'R'

In [92]:
df.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Team,Team.1,Team.2,Team.3,Team.4,Unnamed: 14,Opponent,Opponent.1,Opponent.2,Opponent.3,Opponent.4,Unnamed: 20,Advanced (at Even Strength),Advanced (at Even Strength).1,Advanced (at Even Strength).2,Advanced (at Even Strength).3,Advanced (at Even Strength).4,Advanced (at Even Strength).5,Advanced (at Even Strength).6,Advanced (at Even Strength).7,Advanced (at Even Strength).8,Advanced (at Even Strength).9,Advanced (at Even Strength).10
0,GP,Date,NaN,Opponent,GF,GA,NaN,NaN,NaN,S,PIM,PPG,PPO,SHG,NaN,S,PIM,PPG,PPO,SHG,NaN,CF,CA,CF%,FF,FA,FF%,FOW,FOL,FO%,oZS%,PDO
1,1,2019-10-04,NaN,Winnipeg Jets,4,5,L,SO,NaN,39,4,0,2,0,NaN,30,4,0,2,0,NaN,49,47,51.0,44,40,52.4,23,23,50.0,31.4,100.0
2,2,2019-10-05,@,Buffalo Sabres,2,7,L,NaN,NaN,20,20,0,2,0,NaN,36,16,3,4,0,NaN,32,46,41.0,23,37,38.3,20,20,50.0,30.4,98.5

In [93]:
df = df.loc[:, :"Opponent.4"]
df.head(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Team,Team.1,Team.2,Team.3,Team.4,Unnamed: 14,Opponent,Opponent.1,Opponent.2,Opponent.3,Opponent.4
0,GP,Date,NaN,Opponent,GF,GA,NaN,NaN,NaN,S,PIM,PPG,PPO,SHG,NaN,S,PIM,PPG,PPO,SHG
1,1,2019-10-04,NaN,Winnipeg Jets,4,5,L,SO,NaN,39,4,0,2,0,NaN,30,4,0,2,0

In [94]:
df.drop(columns=["Unnamed: 8","Unnamed: 14"],inplace=True)
df.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Team,Team.1,Team.2,Team.3,Team.4,Opponent,Opponent.1,Opponent.2,Opponent.3,Opponent.4
0,GP,Date,NaN,Opponent,GF,GA,NaN,NaN,S,PIM,PPG,PPO,SHG,S,PIM,PPG,PPO,SHG
1,1,2019-10-04,NaN,Winnipeg Jets,4,5,L,SO,39,4,0,2,0,30,4,0,2,0
2,2,2019-10-05,@,Buffalo Sabres,2,7,L,NaN,20,20,0,2,0,36,16,3,4,0

In [95]:
df.rename(columns={'Unnamed: 0':'GP', 'Unnamed: 1':"Date", 'Unnamed: 2':"Home", 'Unnamed: 3':"Opp_Name", 'Unnamed: 4':"GF",
       'Unnamed: 5':"GA", 'Unnamed: 6':"Result", 'Unnamed: 7':"OT", 'Team':"Team_S", 'Team.1':"Team_PIM", 'Team.2':"Team_PPG",
       'Team.3':"Team_PPO", 'Team.4':"Team_SHG", 'Opponent':"Opp_S", 'Opponent.1':"Opp_PIM", 'Opponent.2':"Opp_PPG",
       'Opponent.3':"Opp_PPO", 'Opponent.4':"Opp_SHG"},inplace=True)

df.head(2)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG
0,GP,Date,NaN,Opponent,GF,GA,NaN,NaN,S,PIM,PPG,PPO,SHG,S,PIM,PPG,PPO,SHG
1,1,2019-10-04,NaN,Winnipeg Jets,4,5,L,SO,39,4,0,2,0,30,4,0,2,0

In [96]:
df.drop(0,inplace=True)
df.head(2)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG
1,1,2019-10-04,NaN,Winnipeg Jets,4,5,L,SO,39,4,0,2,0,30,4,0,2,0
2,2,2019-10-05,@,Buffalo Sabres,2,7,L,NaN,20,20,0,2,0,36,16,3,4,0

In [97]:
df.tail(10)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG
60,60,2020-02-20,NaN,San Jose Sharks,2,1,W,NaN,25,11,1,6,0,37,17,0,3,0
61,61,2020-02-22,NaN,Washington Capitals,3,2,W,NaN,29,14,2,3,0,35,8,1,6,0
62,62,2020-02-25,@,Detroit Red Wings,4,1,W,NaN,31,31,3,5,0,28,20,1,4,0
63,63,2020-02-27,@,San Jose Sharks,2,3,L,OT,23,8,0,4,0,30,10,0,3,1
64,64,2020-02-29,@,Los Angeles Kings,1,2,L,OT,33,0,0,1,0,38,2,0,0,0
65,65,2020-03-01,@,Anaheim Ducks,3,0,W,NaN,34,4,2,3,0,34,6,0,2,0
66,66,2020-03-03,@,Vegas Golden Knights,0,3,L,NaN,27,2,0,3,0,32,6,0,1,0
67,67,2020-03-06,NaN,St. Louis Blues,4,2,W,NaN,32,8,0,2,0,33,4,1,4,0
68,68,2020-03-07,@,New York Rangers,6,4,W,NaN,29,6,1,1,0,35,2,0,3,0
69,69,2020-03-10,NaN,Pittsburgh Penguins,2,5,L,NaN,22,8,1,3,0,33,6,0,4,0

In [98]:
df.Home = [0 if x == "@" else 1 for x in df.Home]


df.OT = [1 if x == "OT" else 0 for x in df.OT]

In [99]:
df['Team_Abv'] = team_abv
df['Season'] = reg_or_playoffs
df['Season_Year'] = season

In [100]:
df.head(2)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG,Team_Abv,Season,Season_Year
1,1,2019-10-04,1,Winnipeg Jets,4,5,L,0,39,4,0,2,0,30,4,0,2,0,NJD,R,2020
2,2,2019-10-05,0,Buffalo Sabres,2,7,L,0,20,20,0,2,0,36,16,3,4,0,NJD,R,2020

In [101]:
abv_team_names = pd.read_csv("/Users/mattrende/Documents/Coding/hockey-reference/YouTube Project/csv/in/team_abv.csv")
abv_team_names.head(3)

   ABV             Team  ID
0  ANA    Anaheim Ducks   1
1  ARI  Arizona Coyotes   2
2  BOS    Boston Bruins   3

In [102]:
df = df.merge(abv_team_names, left_on=['Team_Abv'],right_on=["ABV"], how='left')
df.head(2)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG,Team_Abv,Season,Season_Year,ABV,Team,ID
0,1,2019-10-04,1,Winnipeg Jets,4,5,L,0,39,4,0,2,0,30,4,0,2,0,NJD,R,2020,NJD,New Jersey Devils,18
1,2,2019-10-05,0,Buffalo Sabres,2,7,L,0,20,20,0,2,0,36,16,3,4,0,NJD,R,2020,NJD,New Jersey Devils,18

In [103]:
df.rename(columns={'ID':"team_id"},inplace=True)

In [104]:
df.drop(columns='ABV',inplace=True)

#### Create primary key

In [105]:
df["Key"] = df["team_id"].astype(str) + "-" + season + "-" + reg_or_playoffs + df["GP"].astype(str)

In [106]:
# Cleanup date
df['Date'] = df.Date.astype(str)
df['Date'] = df.Date.str.replace('-','')

In [107]:
df.head(2)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG,Team_Abv,Season,Season_Year,Team,team_id,Key
0,1,20191004,1,Winnipeg Jets,4,5,L,0,39,4,0,2,0,30,4,0,2,0,NJD,R,2020,New Jersey Devils,18,18-2020-R1
1,2,20191005,0,Buffalo Sabres,2,7,L,0,20,20,0,2,0,36,16,3,4,0,NJD,R,2020,New Jersey Devils,18,18-2020-R2

#### Reorder Columns

In [108]:
df.columns

Index(['GP', 'Date', 'Home', 'Opp_Name', 'GF', 'GA', 'Result', 'OT', 'Team_S',
       'Team_PIM', 'Team_PPG', 'Team_PPO', 'Team_SHG', 'Opp_S', 'Opp_PIM',
       'Opp_PPG', 'Opp_PPO', 'Opp_SHG', 'Team_Abv', 'Season', 'Season_Year',
       'Team', 'team_id', 'Key'],
      dtype='object')

In [109]:
df = df[['Key','team_id','Season_Year','GP','Season','Date','Home','Opp_Name','GF','GA','Result','OT','Team_S','Team_PIM', 
    'Team_PPG', 'Team_PPO', 'Team_SHG', 'Opp_S', 'Opp_PIM', 'Opp_PPG', 'Opp_PPO', 'Opp_SHG']]

#### Export to CSV

In [110]:
df.to_csv('/Users/mattrende/Documents/Coding/hockey-reference/YouTube Project/csv/out/fact_gamelog_2020.csv',index=False)